#history_comment {height:6em; width:99%;}
.adminusrname {font-weight:bold}
.billingadd {color:#00CC33; font-weight:bold;}
.shippingadd {color:#00CC33; font-weight:bold;}
.ordereditbutton {color: #FFFFFF;font-size: 1em;font-weight: bold;line-height: 18px;min-height: 0;float:right;cursor:pointer;}
